.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--black-200);
}

.title {
  color: var(--white);
}
